<div class="container mt-5">
    
    <div style="text-align:center;"  *ngIf="!registerMode" >
       <h1>Find your match</h1>
       <p class="lead">Come on in to view your matches... all you need to sign up </p>
       <div class="text-center">
        <button (click)="ToggleRegisterMode()" class="btn btn-primary bt-lg mr-2">Register</button>
        <button class="btn btn-info bt-lg" style="margin-left:.5%;" >Learn more</button>
       </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register [usersFromHomeComponent]="users" (CancelRegister)="CancelRegisterMode()" ></app-register>
            </div>
        </div>
    </div>


    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>

</div>